---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Navbar from '../../components/Navbar.astro';
import ScrollArrow from '../../components/ScrollArrow.jsx';
import Pagination from '../../components/Pagination.astro';
export async function getStaticPaths({ paginate }:any){
	const projects = await Astro.glob('./*.md');
	return paginate(projects, {
		pageSize:10,
	})
}
const {page} = Astro.props;
---

<Layout title="Alvaro Larraya's projects">
	<Navbar
		github="https://github.com/alvarolarraya";
		linkedin="https://linkedin.com/in/álvaro-larraya-830700240";
		email="https://mail.google.com/mail/?view=cm&fs=1&to=alvaro.larraya1@gmail.com";
	/>
	<main>
		<h1>PROJECTS</h1>
		<p>
			<i>What better way to certificate skills than by showing examples using it?</i>
		</p><br>
		<ScrollArrow
            down="#cards"
            up="#"
            client:only="react"
        />

        <Pagination
            total={page.lastPage}
            currentPage={page.currentPage}/>
        

		<ul role="list" class="link-card-grid" id="cards">
			{page.data.map(project => 
					<Card
						card={project.frontmatter.cardNumber}
                        href={project.url}
						title={project.frontmatter.title}
						body={project.frontmatter.description}
						image_path={project.frontmatter.image}
						transition_image={project.frontmatter.transition_image}
						transition_title={project.frontmatter.transition_title}
						aiRelated={project.frontmatter.aiRelated}
						hasDedicatedPage={project.frontmatter.hasDedicatedPage}
						github={project.frontmatter.github}
					/>
				)
			}
		</ul>        
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 10%;
		max-width: 80%;
		padding: 0;
	}
	h1{
		padding-top: 10%;
		padding-bottom: 0;
		background-size: 110%;
	}
	p {
		display: grid;
		place-items: center;
		padding: 4%;
		padding-bottom: 0px;
	}
	p i {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, 48%);
		gap: 1rem;
		padding: 0;
	}
	#cards{
		padding-top: 2%;
	}
	@media only screen and (max-width: 1200px){
		.link-card-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, 100%);
		}
	}
	@media only screen and (max-width: 600px){
		/* Big smartphones */
		h1{
			font-size:3rem;
			margin-top: 5vh;
		}
	}
	@media only screen and (max-width: 300px){
		/* Small smartphones */
		h1{
			font-size:2rem;
			margin-top: 7vh;
		}
	}
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.min.css" integrity="sha512-cyIcYOviYhF0bHIhzXWJQ/7xnaBuIIOecYoPZBgJHQKFPo+TOBA+BY1EnTpmM8yKDU4ZdI3UGccNGCEUdfbBqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.all.min.js" integrity="sha512-IZ95TbsPTDl3eT5GwqTJH/14xZ2feLEGJRbII6bRKtE/HC6x3N4cHye7yyikadgAsuiddCY2+6gMntpVHL1gHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	if ('false' != sessionStorage.getItem('projectsFirstVisit')) {
		Swal.fire({
			title: '<strong><u>Info</u></strong>',
			html: "The project's cards with <strong style='color:rgb(255, 80, 80);'>red background</strong> have an explanatory page while the <strong style='color:white;'>white background</strong> ones redirect straight to the implementation code.",
			icon: 'info',
			confirmButtonText: 'Copy',
			confirmButtonColor: "rgb(255, 80, 80)",
			iconColor: "white",
			background: 'black',
		})
		sessionStorage.setItem('projectsFirstVisit', 'false');
	}
	var redirections = 0;
	const handler = (event:any)=>{
		const toUrl = new URL(event.destination.url);
		event.intercept({
			async handler (){
				if(toUrl.href.indexOf("projects")==-1){
					if(redirections == 0){						
						redirections++;
						window.navigation.removeEventListener('navigate',handler);
						window.location.href = toUrl.href;				
					}
				}else if(toUrl.href.split("/").pop() == ""){
					sessionStorage.setItem('currentPage', "1");
				}else if(!toUrl.href.split("/").pop().match(/[^\d]/)){
					sessionStorage.setItem('currentPage', toUrl.href.split("/").pop());
				}
				
			}
		})
	};
	window.navigation.addEventListener('navigate', handler)
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>