---
import Navbar from '../components/Navbar.astro';
import ScrollArrow from '../components/ScrollArrow.jsx';
import ReturnArrow from '../components/ReturnArrow.jsx';
const { frontmatter } = Astro.props;
const { title, description, image, transition_image, transition_title, github,cardNumber} = frontmatter;

var transition = "view-transition-name:"+transition_image
var title_transition = "view-transition-name:"+transition_title
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/imgs/me.webp" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
  <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</head>

<body>
  <header>
    <Navbar
		  github="https://github.com/alvarolarraya"
		  linkedin="https://linkedin.com/in/álvaro-larraya-830700240"
		  email="https://mail.google.com/mail/?view=cm&fs=1&to=alvaro.larraya1@gmail.com"
	  />
    
    <div id="title">
      <ReturnArrow
        client:only
        cardNumber={cardNumber}
      />
      <h1 id="topHeader" style={title_transition}>{title}</h1>
    </div>

    <ScrollArrow
      client:only="react"
      down="#content"
      up="#"
    />
    
  </header>
  <div id="divPhoto">
    <a id="githubLink" href={github} target="_blank">
      <img id="projectImage" src={image} alt="" style={transition}>
      <svg id="githubIcon" xmlns="http://www.w3.org/2000/svg" class="bi bi-github" viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
      </svg>
    </a> 
  </div>
  <div id="content">
    <slot />
  </div>
</body>

</html>


<style>
  *{
		-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}
  html{
    background-color:#1a1a1a;
    color:white;
    font-family: system-ui, sans-serif;
  }
  h1 {
		font-size: 4vw;
		font-weight: 800;
		margin: 0;
		padding:2vw;
		display: grid;
  		place-items: center;
		  background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 110%;
		background-position: 0%;
		text-transform: uppercase;
		cursor: default;
	}
  :root {
		--accent: 255, 80, 80;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #990000 30%, white 60%);
	}
  #title{
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-image: linear-gradient(to right, #990000, white) 1;
    margin-bottom:2%;
    margin-top:6vw;
  }
  section{
    margin-top:3%;
  }
  img,svg{
    /* position: absolute; */
    display: inline-block;
  }
  #projectImage{
    display:block;
    width:99%;
    top:0;
    aspect-ratio: 16/9;
    background-color: aliceblue;
    border-radius: 0.6rem;
  }
  #githubIcon{
    position: absolute;
    display: none;
    left: 50%;
    top:0;
    transform: translate(-50%,10%);
    fill:white;
    width: 50%;
  }
  #githubLink{
    position:relative;
    display: inline-block;
    /* display: block; */
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
  }
  #githubLink:hover #projectImage{
    opacity: 0.5;
    width:100%;
  }
  #githubLink:hover #githubIcon{
    display: block;
  }
  #divPhoto{
    position: relative;
    width: 100%;
    /* height: 100vh; */
  }
  #content{
    margin-bottom:50vh;
  }
  @media only screen and (max-width: 1200px){
    h1{
      padding-left: 4vw;
    }
    #title{
      margin-top:20vw;
    }
	}
  @media only screen and (max-width: 600px){
		h1{
      padding-left: 6vw;
    }
    #title{
      margin-top:25vw;
    }
	}
  @media only screen and (max-width: 450px){
		h1{
      padding-left: 6vw;
    }
    #title{
      margin-top:30vw;
    }
	}
</style>

<script>
	window.navigation.addEventListener('navigate', (event:any)=>{
		const toUrl = new URL(event.destination.url)
		if((location.origin != toUrl.origin)||(toUrl.href.indexOf('#cards') > -1)||(toUrl.href.indexOf('projects') == -1)) return
		event.intercept({
			async handler (){
				const response = await fetch(toUrl.pathname)
				const text = await response.text()
				document.startViewTransition(()=>{
					document.body.innerHTML = text;
					if(toUrl.href.indexOf('#')==-1){
						document.documentElement.scrollTop = 0;
					}else{
            document.getElementById(toUrl.href.substring(toUrl.href.indexOf('#')+1)).scrollIntoView();
            window.scroll(0, document.documentElement.scrollTop-80);
          }
				})
			}
		})
	})
</script>